- if user_signed_in?
  %h1 Hello #{current_user.username}
  .grid-x
    .medium-4.cell
      = render "posts/form"
    .medium-7.cell
      - @posts.each do |post|
        .callout
          %h5= post.body
          - if post.file.attached?
            - if post.file.image?
              .thumbnail= image_tag post.file.variant(resize: "200x200")
            - if post.file.video?
              = video_tag rails_blob_path(post.file), controls: true, class: "small"
          %p
            Posted by:
            = post.user.username
          - if current_user == post.user
            %p= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

- else
  %h1 Welcome
  %h3
    To get strated
    = link_to "sign in",  new_user_session_path
    or
    = link_to "sign up", new_user_registration_path
