// Now that we have users and posts we can do a simple home page to indicate if a user is signed in or not and to get a user signed in
- if user_signed_in?
  %h1 Hello #{current_user.username}
  // To show posts on the home screen instead of the post page
  %table
    %thead
      %tr
        %th Body
        %th Username
        %th
        %th
        %th

    %tbody
      - @posts.each do |post|
        %tr
          %td= post.body
          %td= post.username
          %td= link_to 'Show', post
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Post', new_post_path


- else
  %h1 Welcome
  %h3
    To get strated
    = link_to "sign in",  new_user_session_path
    or
    = link_to "sign up", new_user_registration_path
